# Mac OS Stuff
.DS_Store

# PyCharm Stuff
.idea/
.pycharm_helpers/

# Test Stuff
.cache/

# Do not commit data or models
models/**

# But keep folder structure
!models/**/
!models/**/.gitkeep

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

